<!DOCTYPE html>
<html>
<head>
  <script type="module" src="chat.js"></script>
  <link rel="stylesheet" href="style.css">
  
</head>
<body>
  <div id="app">
    <h1>
      My Cool Chat App
    </h1>

    <h2>
      Welcome {{myUsername}}
    </h2>


    <p>
      <button class="button" @click="$gf.toggleLogIn">
        <!-- If we have a user ID, we're logged in so show "Log Out" -->
        <!-- Otherwise, show "Log In" -->
        {{ $gf.me? 'Log Out' : 'Log In' }}
      </button>
    </p>

    <!-- If we're not logged in, hide everything except the login button -->
    <template v-if="$gf.me">

      <!-- Begin Problem 1 Solution -->
      <p>
        <form @submit.prevent="setUsername">
          <input v-model="preferredUsername" placeholder="Choose a username..."/>
          <input class = "button" type="submit" value="Set Username"/>
        </form>
        {{ usernameResult }}
      </p>
      <!-- End Problem 1 Solution -->

      <p>
        <!-- We display names in multiple places, so we made a -->
        <!-- reusable <name></name> component. -->
        <!-- See below for the template. -->
        My Name Is: <name :actor="$gf.me" :editable="true"></name>
      </p>

      <p>
        Profile Pic: <profile :actor="$gf.me" :editable="true"></profile>
      </p>

      <p>
        Change chat format:
        <div class="custom-radio">
        <input  type="radio" id="channel" :value="false" v-model="privateMessaging" />
        <label for="channel">Channel-based public chat</label>
      </div>
      <div class="custom-radio">
        <input type="radio" id="pm" :value="true" v-model="privateMessaging" />
        <label for="pm">Private Messaging</label>
      </div>
      </p>

      <p v-if="!privateMessaging" class="fade-in-image">
        <label for="channel">
          Change the channel you're chatting in:
        </label>
        <input id="channel" v-model="channel"/>
      </p>
      <!-- Begin problem 2 solution -->
      <div v-else>
        <form @submit.prevent="chatWithUser">
          <label for="recipient">
            Type the user ID of who you'd like to chat with:
          </label>
          <input id="recipient" v-model="recipientUsernameSearch"/>
          <input class="button" type="submit" value="Search"/>
        </form>
        <span v-if="recipient">
          Chatting with {{ recipientUsername }}
        </span>
        <span v-else>
          Username {{ recipientUsername }} does not exist!
        </span>
      </div>
      <!-- End problem 2 solution -->

      <!-- A form for sending messages -->
      <form @submit.prevent="sendMessage">
        <input v-model="messageText" placeholder="Type a message..."/>
        <input type="file" accept="image/*" @change="onImageAttachment"/>
        <input class="button" type="submit" value="Send"/>
      </form>

      <ul>
        <!-- List all the messages -->
        <li v-for="message of messages" :key="message.id">
          <div class="messageClass">
          <!-- Display and edit form if we're editing a message -->
          <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
            <input v-model="editText">
            <input class="button" type="submit" value="Save"/>
          </form>

          <!-- Otherwise, display a bunch of properties from the message -->
          <ul v-else>
            <li>
              Message: {{ message.content }} 
            </li>
            <li>
              From Name: <name :actor="message.actor"></name>
            </li>
            <li>
              From Actor ID: {{ message.actor }}
            </li>
            <li>
              From Username: {{ actorsToUsernames[message.actor] }}
            </li>
            <template v-if="privateMessaging">
              <li>
                To Name: <name :actor="message.bto[0]"></name>
              </li>
              <li>
                To Actor ID: {{ message.bto[0] }}
              </li>
              <li>
                To Username: {{ actorsToUsernames[message.bto[0]] }}
              </li>
            </template>
            <li>
              Published at Time: {{ message.published }}
            </li>
            <li>
              Last Edited at Time: {{ message.updated }}
            </li>
            <li>
              <!-- This is a unique identifier that can be used to "link" to messages -->
              ID: {{ message.id }}
            </li>

            <li v-if="message.attachment">
              <template v-if="message.attachment.magnet in imageDownloads">
         
                <img v-if="imageDownloads[message.attachment.magnet]" :src="imageDownloads[message.attachment.magnet]" id="m-img"/>
               
                <span v-else>
                  Image could not be downloaded!
                </span>
              </template>
              <template v-else>
                Loading image from {{ message.attachment.magnet }}
              </template>
            </li>

            <!-- Only add these controls if the message is ours -->
            <!-- You can't edit or delete other people's messages -->
            <template v-if="message.actor==$gf.me">
              <li>
                <button class="button" @click="removeMessage(message)">
                  Delete Message
                </button>
              </li>
              <li>
                <button @click="startEditMessage(message)">
                  Edit Message
                </button>
              </li>
            </template>

            <li>
              <like :messageid="message.id"></like>
            </li>
            <li>
              <read :messageid="message.id"></read>
            </li>
            <li >
              <reply  :messageid="message.id"></reply>
            </li>
          </ul>
        </li>
      </div>
      </li>
    </template>
  </div>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      {{ profile? profile.name : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button class="button" v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input v-model="editText"/>
      <input class="button" type="submit" value="Save Name"/>
    </form>
  </template>

  <!-- <template id="profile">
    <span v-if="!editing">

      {{ profile? profile.magnet : 'Anonymous' }}

      <button v-if="editable" @click="editProfilePic">
        Edit Profile Pic
      </button>
    </span>
    <form v-else @submit.prevent="saveProfilePic">
      <input type="file" accept="image/*" @change="onImageAttachment"/>
      <input type="submit" value="Save Profile Pic"/>
    </form>
  </template> -->

  <template id="like">
    <button class="button" @click="toggleLike">
      {{ myLikes.length? 'Unlike' : 'Like' }}
    </button>
    # of likes:  <p class="turnBlue"> {{numLikes }}</p>
  </template>
  <template id="read">
    <button class="button" @click="toggleRead">
      {{ myReads.length? 'Unread' : 'Read' }}
    </button>
  </template>

  <template id="reply">
      # of replies: {{ replies.length }}
    <button  class="button" @click="toggleReply">
      {{ showReplies? 'hide replies' : 'show Replies' }}
    </button>


    <button class="button" @click="startreply">
      {{ tog? 'stop replying' : 'reply' }}

    </button>

    <span v-if="tog">

      <form @submit.prevent="replyMessage">
        <input v-model="messageText" placeholder="Type a message..."/>
        <input class="button" type="submit" value="Send"/>
      </form>
    </span>
    
    <span v-if="showReplies" >
      <ul>
        <li v-for="reply of replies" :key="reply.id">
          <ul>
            <li>
              Message: {{ reply.content }} 
            </li>

            <li>
              From Name: <name :actor="reply.actor"></name> 
            </li>
          </ul>
        </li>
      </ul>
    </span>
  </template>
  <template id="profile">
    <span v-if="!editing">
      <img :src="saved" alt="profile picture" >

      <button class="button" v-if="editable" @click="editProfilePic">
        Edit Profile Pic
      </button>

    </span>
    <form v-else @submit.prevent="saveProfilePic">
      <input class="button" type="file" accept="image/*" @change="onImageAttatchment"/>
      <input class="button" type="submit" value="Save Profile Pic"/>
      <button class="button" @click="cancelediting">
        cancel editing
      </button>
    </form>
    
  </template>
</body>
</html>
