#m-img{
    width: 200px;
    height: 150px;
}

.button {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    border: 2px solid blue;
    color: blue;
    letter-spacing:1px;
    text-shadow:0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  
.button:hover {
    color:white;
    background: blue;
}

.button:active {
    letter-spacing: 2px;
      letter-spacing: 2px ;
}



.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  .custom-radio label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
  }
  
  .custom-radio label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid blue;
    border-radius: 50%;
  }
  
  .custom-radio label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 12px;
    height: 12px;
    background-color: blue;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .custom-radio input[type="radio"]:checked + label::after {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }

  .messageClass:hover {
    background-color: rgb(200, 194, 194)
  }

  .replyClass {
    background-color: red
  }

  .notBlue {
    color: blue;
  }