#m-img{
    width: 200px;
    height: 150px;
}

.button {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    border: 2px solid blue;
    color: blue;
    letter-spacing:1px;
    text-shadow:0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  
.button:hover {
    color:white;
    background: blue;
}

.button:active {
    letter-spacing: 2px;
      letter-spacing: 2px ;
}



.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  .custom-radio label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
  }
  
  .custom-radio label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid blue;
    border-radius: 50%;
  }
  
  .custom-radio label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 12px;
    height: 12px;
    background-color: blue;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .custom-radio input[type="radio"]:checked + label::after {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }

  .messageClass:hover {
    background-color: rgb(200, 194, 194)
  }

  .replyClass {
    background-color: red
  }

  .notBlue {
    color: blue;
  }

  #changeProfilePicButton {
    display:block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
  }

  #usernameText {
    text-decoration:none;
    align-self: center;
    padding-top: 10px;
    color: #ece5e5;
  }

  .profileUsernameCombo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }


  body{
    margin: 0; 
    background: #19161c;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #ece5e5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.searchBox{
    position: relative;
}

.searchInput {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.searchBox:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}
.searchBox i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.searchBox:hover i{
    opacity: 0;
    z-index: -1;
}

/* YouTube icon */
#ytb {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 52px;
  border: 2px solid transparent;
  color: #ff1717;
  font-size: 25px;
  transition: 0.3s;
}

#ytb:hover{
  border-radius: 50%;
  border-color: #ff1717;
  box-shadow: 0 0 10px #ff4040;
}
